*{
    margin: 0;
    padding: 0;
  }


  body{
    min-height: 100vh;
    background: url('laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 50px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  nav a:hover{
    background-color: #f0f0f0;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }
 
  .kleine-logo{
  height: 50px;
  width: 150px;
  }

  footer{
    display: block;
    background-color: rgb(48, 48, 48);
    color: rgb(255, 255, 255); 
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
div.footer-content{
display: block;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 20px 20px;
text-align: center;
}

div.footer-content p{
max-width: 700px;
color: rgb(255, 255, 255);
opacity: 0.7;
margin: 10px 0px;
cursor: pointer;
transition: 0.5s;
}

div.footer-content p:hover{
    opacity: 1;
}

.footer-bottom p{
    color: white;
    text-align: center;
    padding: 10px 0;
    background-color: black;
    right: 0;
    left: 0;
    bottom: 0;
}

div a{
  color: red;
  font-size: 80px;
  font-weight: 550;
  font-family:'Times New Roman', Times, serif 
}

.text1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: 300v;
}

.btn{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(245, 6, 6);
  width: 100px;
  padding: 12px;
  text-align: center;
  text-decoration: wavy;
  text-transform: uppercase;
  color:rgb(102, 14, 14);
  border-radius: 5px;
  cursor:pointer;
  box-shadow: 0 0 10px;
  -webkit-animation-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}